@tailwind base;
@tailwind components;
@tailwind utilities;
 
:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
}
 
body {
  margin: 0;
  padding: 1rem;
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}
